body {
  background-color: #83b8c5;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  padding: 1rem 1rem;
  height: 10rem;
}

.border {
  border-style: solid;
  border-radius: 0.5rem;
}

.task {
  border-style: solid;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.hidden {
  display: none;
}
